<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html>
   <head>
      <title>Tennis Matcher</title>
      <meta name="description" content="Tennis Matcher">
      <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/style.css">
   </head>
   <body>
      <div id="app">
         <header>
            <h1>Tennis Matcher</h1>
         </header>
        
         <main class="flex">
           
           
            <section>
               <h2>
                  Players
               </h2>
               <table v-if="!currentPlayer">
                  <tr>
                     <th>Name</th>
                  </tr>
                  <tr v-for="player in players">
                     <td><a @click.prevent="viewPlayer(player)" href="#">{{player.name}}</a></td>
                  </tr>
               </table>
               <form @submit.prevent="addPlayer" style="margin-top:50px">
                  <input v-model="addPlayerName" type="text" maxlength="100" placeholder="John"> 
                  <input v-model="addPlayerPhone" type="text" maxlength="100" placeholder="310 310 3100">
                  <button type="submit">
                    Add new Player
                 </button>
               </form>
              
              <p v-if="currentPlayer">
                <a @click.prevent="indexPlayer" href="#">Back to all players</a>
              </p>
            </section>
           
           
            <section>
               <h2>
                  Matches
               </h2>
               <div v-if="!currentSchedule">
                  <table>
                     <tr>
                        <th>Matchday</th>
                     </tr>
                     <tr v-for="schedule in schedules">
                        <td :class="schedule.can_rsvp ? 'status-yes':''"><a @click.prevent="viewSchedule(schedule)" href="#">{{schedule.match_day}}</a></td>
                     </tr>
                  </table>
                  <p>
                     <button @click.prevent="addSchedule">Add new Match</button>
                  </p>
               </div>
               <div v-else>
                 <h3>
                   {{currentSchedule.match_day}}
                 </h3>
                 <p>
                   <strong v-if="currentSchedule.can_rsvp" style="color:limegreen">Players can RSVP to this match<br></strong>
                   Send invites: {{currentSchedule.notify_day}}<br>
                   Make matchups: {{currentSchedule.matchup_day}}
                 </p>
                 <table>
                  <tr>
                     <th>Name</th>
                     <th>Status</th>
                  </tr>
                  <tr v-for="player in currentSchedule.players">
                     <td>{{player.name}}</td>
                      <td :class="'status-'+player.status">
                        {{player.status}}
                        <a v-if="currentSchedule.can_rsvp && player.status == '-'" href="/send">
                          send
                        </a>
                      </td>
                  </tr>
               </table>
                 <p>
                   <a @click.prevent="indexSchedule" href="#">Back to all matches</a>
                 </p>
              </div>
            </section>
           
           
            <section>
               <p>
                  <a style="color:red" href="/reset">Reset</a>
               </p>
            </section>
         </main>
      </div>
      <!-- Your web-app is https, so your scripts need to be too -->
      <script src="https://code.jquery.com/jquery-2.2.1.min.js"
         integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
         crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script src="/index.js"></script>
   </body>
</html>